body{
    color: black;
    background-color:white;
    font-size: 36px;
}

h1,h2{
    text-align: center;
    color:rgb(55, 111, 255);
    font-weight: bold;
}
p,h3{
    font-style: italic;
}
h1{
    font-size: 60px;
}
ul{
    color:orange;
}
ol{
    color:green;
}
h2{
    font-size: 48;
}
h3{
    color:purple;
}

