body{
    color: black;
    background-color: seashell;
    font-size: 36px;
    display:block;
}


h1{
    text-align: center;
    color:white;
    font-weight: bold;
    font-size: 60px;
    background-color: rgb(94, 140, 255);
    /*
        4 Values: top | right | bottom | left
        3 Values: top | right and left | bottom
        2 Values: top and bottom | right and left
        1 Value:  top right bottom left
    */
    margin: 5% 25%;
    padding: 20px;
}
ul{
    color:black;
}

